*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 42px;
}

#home{
    height: auto;
}


#skills{
    height: auto;
    color: white;
}

#projects{
    height: auto;
    color: white;
}

#contact{
    height: 90vh;
    color: white;
}

@media (max-width:768px){
    #contact{
        height: 60vh;
        color: white;
    }
}
body{
    padding-top: 60px;
    width: 96%;
    height: auto;
    background-color: black;
    overflow: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 30px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 1000;
}

nav .logo {
    padding-left: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

nav .nav-links {
    list-style: none;
    padding-right: 30px;
    display: flex;
    gap: 20px;
}

nav .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    transition: color 0.3s;
}

nav .nav-links li a:hover {
    color: green;
    border-bottom: 2px solid;
}

nav ul li a:active {
    color: green;
    border-bottom: 2px solid;
  }

nav .nav-links li a.active {
    color: green;
    border-bottom: 2px solid green;
}

/*image animation*/

.interactive-image {
   
    transition: transform 0.3s ease-in-out;
}

.interactive-image:hover {
    transform: scale(0.9);
    border: 4px solid blue;
    
}
/* Menu toggle button */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 100%;
    height: 3px;
    background-color: white;
    color: white;
    transition: all 0.3s ease;
}

/*view cv*/
.view-cv-button {
    background-color: #5b8cc1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.view-cv-button:hover {
    background-color: #0056b3;
}

/* Transform the first bar into the top of the cross */
.menu-toggle.change .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

/* Hide the middle bar */
.menu-toggle.change .bar:nth-child(2) {
    opacity: 0;
}

/* Transform the last bar into the bottom of the cross */
.menu-toggle.change .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6.5px, -6.5px);
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav .nav-links {
        position: absolute;
        top: 45px;
        right: 0;
        height: 100vh;
        width: 60%;
        background-color: black;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: transform 0.3s ease-in;
        transform: translateX(100%);
    }

    nav .nav-links li {
        margin: 10px 0;
    }

    nav .nav-links.show {
        transform: translateX(0);
    }

    .menu-toggle {
        display: flex;
        padding-left: -30px;
    }
}

.main-container{
    margin: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.main-container .content{
    color: white;
    font-size: 40px;
    width: 40%;
}
.content span{
    color: rgb(58, 153, 184);
    font-weight: 600;
}


.main-container .img{
    width: 370px; 
    height: 370px;
    border-radius: 50%; 
    object-fit: cover;
    border: 4px solid;
    border-color: rgb(25, 209, 194);
}

.social i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid rgb(25, 209, 194);
    border-radius: 50%;
    color: rgb(25, 209, 194);
    margin-top: 0 15px; 
    margin-right: 0 15px; 
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social i:hover{
    scale: 1.1;
    color: black;
    background-color:rgb(25, 209, 194) ;
}

.nav-container .links a:hover,
.links a:hover:not(.active) {
    color: white;
    border-bottom: none;
}


.links a.active:hover {
    color: green;
    border-bottom: 2px solid;
}
@media (max-width:768px){
    .main-container{
        padding-top: 0px;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .main-container .content{
        padding-top: 30px;
        width: 80%;
        font-size: 30px;
    }
    .social i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .main-container .img{
        margin-top: 15px;
        width: 55%;
        height: 60%;
    }
    

}

@media (max-width:440px){
    #home{
        height: 80vh;
    }
    .main-container .img{
        width: 70%;
        height: 40%;
    }
    .main-container .content{
        padding-top: 30px;
        width: 80%;
        font-size: 30px;
    }
    .content .social{
        padding: 0px;
        padding-top:15px;
    }
    .social i{
        width: 2.0rem;
        height: 2.0rem;
        font-size: 1.0rem;

    }
}

@media (min-width:992px){
    .main-container{
        padding-top: 30px;
    }
    .social{
        padding-top: 15px;
    }
}
/* about section */

#about{
    height: 70vh;
}

.about {
    margin: 15px;
    padding: 15px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.text-container {
    border-radius: 12px;
    padding: 25px;
    width: 100%;
    overflow: visible;
    
}

.slide-in {
    text-align: center;
    font-size: bold;
    color: white;
    font-size: 30px;
    padding-bottom: 15px;
    font-family: Arial, sans-serif;
    animation: slideIn 0.5s ease-out forwards;
}
.slide-out {
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    animation: slideIn 0.5s ease-out forwards;
}

@media (min-width:998px){
    .text-container{

        width: 80%;
        font-size: large;
    }
}
@keyframes slideIn {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* skills section*/


.heading {
    text-align: center;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 15px;
}

.skillsec{
    padding-top: 60px;
    width: 100%;
}
.img {
    height: 100px;
    width: 100px;
}

.container {
    background-color: black;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.card {
    margin: 12px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: lightgrey;
    text-align: center;
    border-radius: 12px;

}

.card:hover{
    border: 4px solid green;
    transform: scale(1.06);
    
}


.card:active{
    border: 4px solid green;
    
    transform: scale(0.95);
}

/* project section */

.projectsec{
    padding-top: 60px;
}
.projects {
    background-color: black;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.head {
    text-align: center;
    padding: 15px;
    font-weight: 600;
    color: white;
    background-color: black;
}

.project-card {
    margin: 10px;
    position: relative;
    width: 80%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 14px;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-card:hover img {
    transform: scale(1.1);
}

.project-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.project-card:active .project-info,
/* To show info on click */
.project-card:hover .project-info {
    opacity: 1;
    background-color: black;
    border: 4px solid white;
}

.project-link {
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

.project-link i {
    margin-left: 5px;
}

@media (min-width:768px) {
    .project-card {
        width: 40%;
    }
}

@media (min-width:996px) {
    .heading {
        font-size: 30px;
        font-weight: bold;
        font-family: Sans-Serif;
    }

    .project-card {
        width: 25%;
    }
}

/* contact section */
.contacthead{
    text-align: center;
    padding: 15px;
    font-weight: 600;
    color: white;
    background-color: black;
}

.contactsec{
    padding-top: 60px;
    height: 50vh;
}


.contacticons{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contacticons a i{
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
}

@media (max-width: 600px){
    .contactsec{
        padding-top: 60px;
        height: 30vh;
    }
    
}
/* Footer element */

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 3px 0;
}

footer a {
    color: rgb(128, 128, 128);
    text-decoration: underline;
    
}

footer a:hover {
    text-decoration: none;
}

@media (max-width: 600px) {
    footer {
        padding: 15px 5px;
    }
}

.topmate-sec{
    font-size: 20px;
    margin-left: 30px;
    text-align: center;
}

.topmate-sec a{
    color: green;
}